<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Q1" value="吃了吗？|醒了吗？|睡了吗？|到了吗？"/>
    <add key="Q2" value="我很好？|我很帅？|我很胖？|我很高？"/>
    <add key="PhotoDescription1" value="巴拉巴拉小魔仙"/>
    <add key="PhotoDescription2" value="巴拉巴拉小魔仙"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>